div.cmpf-field {
    margin-bottom: .5rem;
}

div.cmpf-field input,
div.cmpf-field select,
div.cmpf-field textarea
{
    border-color: #ccc;
}

div.cmpf-field input[type=text],
div.cmpf-field input[type=url]
{
    width: 100%;
}

label.cmpf-label {
    display: block;
    color: #666;
}

.cmpf-commons {
    border-top: 1px solid #ddd;
    margin-top: .5rem;
    padding-top: .5rem;
}

/* Color picker Spectrum */
.sp-replacer {
    height: 28px;
    vertical-align: middle;
}

.sp-dd {
    display: none;
}